@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-background: #071E3D;
    --secondary-background: #082246;
    --tertiary-background: #1F4287;
    --primary-color: #21E6C1;
    --secondary-color: #278EA5;
    --muted-color: #798AAB;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: var(--primary-background);
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif !important;
}

img {
    width: 100%;
    height: auto;
}

.container-full {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.2rem;
}

/* HEADER */
header {
    
}

/* HEADER > Nav */
nav {
    background-color: transparent !important;
}

.navbar-brand {
    background-color: transparent !important;
}

.navbar-burger {
    color: var(--primary-color) !important;
}

.navbar-menu {
    background-color: transparent;
}

.navbar-item,
.navbar-link {
    color: var(--primary-color) !important;
}

.navbar-link::after {
    border-color: var(--primary-color) !important;
}

.navbar-item:hover,
.navbar-link:hover {
    background: none !important;
    color: #FFF !important;
}

.navbar-dropdown {
    background-color: var(--secondary-background);
    color: var(--primary-color) !important;
}




#main-section .columns {
    align-items: center;
}












.border {
    border: solid 1px black;
}