$primary-background: #071E3D;
$secondary-background: #082246;
$tertiary-background: #1F4287;
$primary-color: #21E6C1;
$secondary-color: #278EA5;
$text-muted: #798AAB;

$font-main: 'Inter', sans-serif;